body {
  background-color: rgb(6, 30, 57);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.calculator {
  width: 360px;
  height: 600px;
  border-radius: 40px;
  background-color: black;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.calculator > :last-child {
  margin-bottom: 30px;
}

#screen {
  width: 320px;
  height: 145px;
  border-radius: 30px;
  background-color: white;
  margin-bottom: 1.5rem;
  background-color: black;
  flex-shrink: 1;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

h1 {
  margin: 0;
  padding: 0;
  margin-right: 1.5rem;
  font-size: 55px;
  color: white;
  font-weight: lighter;
}

button {
  width: 75px;
  height: 73px;
  border-radius: 40px;
  border-style: none;
  font-size: 24px;
}

.calculator > :nth-child(18) {
  /*This is to select the zero button and change its size*/
  width: 156px;
  height: 74px;
  text-align: start;
  padding-left: 30px;
}

.extra {
  background-color: #989898;
}

.equals-operator,
.operators {
  background-color: #e88e25;
}

.numbers,
.dot {
  background-color: #414141;
}

.dot {
  font-size: 40px;
}

.numbers,
.operators,
.equals-operator,
.dot {
  /*Changes the color of the font*/
  color: white;
}

.btn-hover-effect:hover {
  background-color: rgba(255, 254, 254, 0.752);
}